*{
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0%;
}

a{
    text-decoration: none;
    color: inherit;
}

.no-list-styles{
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text-center{
    text-align: center;
}

.horizontal-list li{
    display: inline-block;
    margin: 0 8px 8px 0;
}

.horizontal-list li a{
    color: white;
    padding-bottom: 2px;
}

.horizontal-list li a:hover{
    color: grey;
    border-bottom: 1px solid white;
}

/* Name and social icons */

.name-social-container{
    margin-top: 15vh;
}

.my-name{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.social-container a i{
    font-size: 1rem;
    padding: 10px;
}

/* About section */

.about{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

.about .my-image{
    width: 12rem;
    height: 12rem;
    margin: auto;
    margin-top: -10vh;
}

.about img{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px lightgrey;
}

.about-para{
    padding: 10px;
    width: 70%;
    margin: auto;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
}