*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

body::-webkit-scrollbar { 
    display: none; 
}

a{
    text-decoration: none;
    color: inherit;
}

.no-list-styles{
    list-style: none;
    padding: 0;
    margin: 0;
}

.body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}


/* setting background-color */

.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

/* common text align */
.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

/* list stylings */

.horizontal-list li{
    display: inline-block;
    margin: 0 8px 8px 0;
}

.horizontal-list li a{
    color: white;
    padding-bottom: 2px;
}

.horizontal-list li a:hover{
    color: grey;
    border-bottom: 1px solid white;
}

/* Name and social icons */

.name-social-container{
    margin-top: 15vh;
}

.my-name{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.social-container a i{
    font-size: 1rem;
    padding: 10px;
}

/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/* About section */

.about{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

.about .my-image{
    width: 12rem;
    height: 12rem;
    margin: auto;
    margin-top: -10vh;
}

.about img{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px lightgrey;
}

.about-para{
    padding: 10px;
    width: 70%;
    margin: auto;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
}

/* skills section  */

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}



.skill-name span {
    color: white ;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}
